<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Imagen</key>
		<string>simbolo0.png</string>
		<key>Descripcion</key>
		<string>Cantera</string>
		<key>DescripcionLarga</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</string>
	</dict>
	<dict>
		<key>Imagen</key>
		<string>simbolo1.png</string>
		<key>Descripcion</key>
		<string>Surco / Erosión</string>
		<key>DescripcionLarga</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</string>
	</dict>
	<dict>
		<key>Imagen</key>
		<string>simbolo2.png</string>
		<key>Descripcion</key>
		<string>Terraza</string>
		<key>DescripcionLarga</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</string>
	</dict>
	<dict>
		<key>Imagen</key>
		<string>simbolo3.png</string>
		<key>Descripcion</key>
		<string>Espolón</string>
		<key>DescripcionLarga</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</string>
	</dict>
	<dict>
		<key>Imagen</key>
		<string>simbolo4.png</string>
		<key>Descripcion</key>
		<string>Muro de Tierra</string>
		<key>DescripcionLarga</key>
		<string>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</string>
	</dict>
</array>
</plist>
